@import "../config/variables";

// Available Summary Page ----------------------------------------
.collection-container {
  padding: 3rem;
  background: $lighter-green;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 200px 1fr;

  .horizontal-scroll {
    display: none;
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    background: #f4f4f4;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    p {
      color: #888;
    }
    ul {
      display: flex;
      list-style: none;

      li {
        padding: 1rem 1rem 0 1rem;

        a {
          text-decoration: none;
          color: $primary-green;
        }
      }
    }
  }

  .side-nav {
    position: fixed;
    // top: calc(39px + 3rem);
    margin-top: calc(39px + 3rem);
    background: #f4f4f4;
    padding: 2rem;
    border-radius: 4px;

    h3 {
      color: #888;
      font-weight: 300;
      margin-bottom: 2rem;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 1rem;
        a {
          text-decoration: none;
          color: #333;
          font-weight: 600;
          &:hover {
            color: $light-green;
          }
        }
      }
    }
  }

  h1 {
    margin-bottom: 2rem;
  }

  .post-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    // grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 2rem;
  }

  .type-section {
    background: #f4f4f4;
    padding: 2rem;
    margin: 3rem 0;
    border-radius: 4px;

    h2 {
      margin-bottom: 2rem;
      color: $primary-green;
    }
  }

  .collection-post {
    background: #fff;
    width: 100%;
    height: fit-content;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.267), -6px -6px 6px $lighter-green;
    border-radius: 5px;
    overflow: hidden;

    .feature-image {
      width: 100%;
      height: 200px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-size: cover;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    .info {
      padding: 1.5rem;
      margin-top: 0.3rem;
    }

    .label {
      font-size: 0.8rem;
    }

    h2 {
      font-size: 1.2rem;
      margin-bottom: 0.6rem;
    }
    p {
      margin-top: 0.4rem;
    }
  }
}

@include phone {
  .available-summary {
    padding: 1.5rem;
    h1 {
      font-size: 1.4rem;
    }
    .post-container {
      grid-template-columns: 1fr;
      margin: auto;
    }
  }
}
