// Navbar --------------------------------------------------------
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  z-index: 2;
  position: relative;

  .brand {
    a {
      text-decoration: none;
      margin-left: 2rem;
      display: flex;
      align-items: center;

      h1 {
        margin-left: 0.4rem;
        color: #ddd;
        text-decoration: none;
        display: inline-block;
      }
      #logo {
        fill: #ddd;
        margin-right: 0.5rem;
      }

      &:hover {
        h1 {
          color: #fff;
        }
        #logo {
          fill: #fff;
        }
      }
    }
  }

  ul {
    display: flex;
    list-style: none;
    li {
      padding: 0 2rem;
      a {
        text-decoration: none;
        color: #ddd;
        &:hover {
          color: #fff;
          filter: drop-shadow(0 0 18px $light-green);
        }
      }
    }
  }
}
