// Navbar --------------------------------------------------------
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  z-index: 6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  transition: all ease-out 0.6s;

  &.is-active {
    transform: translate3d(0, -200px, 0);
  }

  .brand {
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      transition: all 1s ease-out;

      h1 {
        margin-left: 0.4rem;
        color: #ddd;
        text-decoration: none;
        display: inline-block;
        transition: all 0.5s ease-out;
      }
      img {
        width: 7rem;
      }
      #logo {
        fill: #ddd;
        margin-right: 0.5rem;
        transition: all 0.5s ease-out;

        .eye {
          fill: $primary;
          stroke: $primary;
          stroke-width: 0.5px;
          transition: all 1.8s ease-out;
        }
      }

      &:hover {
        h1 {
          color: #fff;
          filter: drop-shadow(0 0 6px $secondary);
        }
        #logo {
          fill: #fff;
          filter: drop-shadow(0 0 3px $secondary);

          .eye {
            fill: red;
            stroke: red;
            stroke-width: 0.8px;
          }
        }
      }
    }
  }

  .current-page {
    visibility: hidden;
  }

  .links {
    display: flex;
    list-style: none;
    li {
      padding: 0 2rem;
      a {
        text-decoration: none;
        color: #ddd;
        font-weight: 600;
        padding-bottom: 3px;
        &:hover {
          color: $bright;
          filter: drop-shadow(0 0 18px $bright);
        }
      }
      .active-link {
        color: $bright;
        filter: drop-shadow(5px 5px 22px $primary);
        border-bottom: 1.5px solid $bright;
      }
    }
  }

  .menu-btn {
    height: 30px;
    width: 30px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    // position: absolute;
    // right: 2rem;

    .bar {
      height: 3px;
      background: #ddd;
      width: 100%;
    }
  }
}
.menu-wrapper {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  visibility: hidden;
}
.phone-menu {
  height: 100vh;
  overflow: hidden;
  background: rgb(235, 230, 223);
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: 1;

  button {
    background: $primary;
    color: #f4f4f4;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 4px;
    margin-bottom: 5rem;
  }
  ul {
    list-style: none;
    align-self: center;
    li {
      margin-bottom: 1.5rem;
      a {
        text-decoration: none;
        color: $primary;
        font-weight: 600;
        font-size: 1.5rem;
      }
    }
  }
}
.is-active {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
@include phone {
  nav {
    .brand {
      width: 40%;
      font-size: 0.8rem;
      img {
        width: 5rem;
      }
      a {
        margin-left: 0;
      }
    }
    .current-page {
      visibility: visible;
      text-align: center;
      color: #eee;
      h4 {
        font-size: 0.7rem;
        padding-bottom: 0.2rem;
        margin-bottom: 0.2rem;
        border-bottom: solid 1px #aaa;
        font-weight: 300;
      }
      p {
        font-size: 1rem;
        font-weight: 700;
      }
    }
    .links {
      visibility: hidden;
      display: none;
    }
    .menu-btn {
      display: flex;
    }
  }
}

@include tablet {
  nav {
    .brand {
      font-size: 1rem;
      width: 30%;
    }
    .links {
      li {
        padding: 0 1rem;
      }
    }
  }
}

@include x-small {
  .brand {
    width: 35%;
    font-size: 0.8rem;
  }
}
