// Available Summary Page ----------------------------------------
.available-summary {
  padding: 3rem;
  background: $lighter-green;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
  position: relative;

  .horizontal-scroll {
    display: none;
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    background: #f4f4f4;
    -ms-overflow-style: none;
    position: fixed;
    z-index: 3;
    top: 5rem;
    left: 0;
    right: 0;

    &::-webkit-scrollbar {
      display: none;
    }
    p {
      color: #888;
    }
    ul {
      display: flex;
      list-style: none;

      li {
        padding: 1rem 1rem 0 1rem;

        a {
          text-decoration: none;
          color: $primary-green;
        }
      }
    }
  }

  .side-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
    margin-top: calc(39px + 3rem);
    background: #f4f4f4;
    padding: 2rem;
    border-radius: 4px;
    height: fit-content;

    h3 {
      color: #888;
      font-weight: 300;
      margin-bottom: 2rem;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 1rem;
        a {
          text-decoration: none;
          color: #333;
          font-weight: 600;
          &:hover {
            color: $light-green;
          }
        }
      }
    }
    #nav {
      text-decoration: none;
      color: #999;
      &:hover {
        color: $primary-green;
      }
    }
  }

  h1 {
    margin-bottom: 2rem;
    width: 100% !important;
    display: block;
  }

  .type-section {
    background: #f4f4f4;
    padding: 2rem;
    margin: 3rem 0;
    border-radius: 4px;

    h2 {
      margin-bottom: 2rem;
      color: $primary-green;
      padding-right: 1.5rem;

      .link-to-collection {
        padding-left: 2rem;
        font-size: 0.9rem;
        color: $accent;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: #888;
        }
      }
    }
  }
  .post-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    // grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 2rem;
  }

  .post {
    background: #f4f4f4;
    width: 100%;
    height: fit-content;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.267), -6px -6px 6px $lighter-green;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    .sold-tag {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #eee;
      padding: 3px;
      z-index: 3;
      font-size: 0.8rem;
      font-weight: 700;
      color: rgb(153, 29, 29);
      border-radius: 4px;
    }

    .feature-image {
      width: 100%;
      height: 200px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-size: cover;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }

    .info {
      padding: 1rem;
      margin-top: 0.3rem;
      position: relative;

      .gender {
        position: absolute;
        top: 1rem;
        right: 2rem;
        height: 16px;
      }
    }

    .label {
      font-size: 0.8rem;
      font-weight: 700;
      padding-right: 0.5rem;
      color: $primary-green;
    }
    .about {
      max-height: 30px;
      overflow: hidden;
      position: relative;
      border-top: solid 1px #eee;
      padding-top: 0.5rem;
      margin-top: 0.5rem;

      .dots {
        position: absolute;
        right: 0;
        width: 20px;
        letter-spacing: 1px;
        padding-left: 10px;
        box-shadow: 0px 3px 3px #f4f4f4;
        background-color: #f4f4f4;
        opacity: 0.9;
        z-index: 2;
      }
    }
    i {
      text-decoration: underline;
    }

    h2 {
      font-size: 1rem;
      margin-bottom: 0.7rem;
    }
    p {
      font-size: 0.9rem;
      margin-top: 0.5rem;
      border-top: solid 1px #eee;
      padding-top: 0.5rem;
    }
  }
}

@include phone {
  html,
  body {
    overflow-x: hidden;
  }
  .layout-container {
    padding-top: 5rem;

    .available-summary {
      padding: 5.5rem 1rem 0 1rem;

      display: block;
      width: 100%;
      .main-column {
        width: 100%;
        h1 {
          margin-bottom: 1rem;
        }
        #wild-type {
          margin-top: 1rem;
        }
        #xanthic {
          margin-bottom: 0;
        }
      }

      .horizontal-scroll {
        display: block;
      }
      .side-nav {
        display: none;
      }
      h1 {
        font-size: 1.4rem;
      }

      .type-section {
        width: 100%;
        padding: 1rem;
        .link-to-collection {
          display: block;
          padding: 1rem 0 0 0;
        }

        .post-container {
          .post {
            display: flex;

            .sold-tag {
              top: auto;
              bottom: 0.5rem;
            }

            .feature-image {
              height: 120px;
              width: 30%;
            }
            .info {
              width: 70%;
              padding: 0.5rem;

              h2 {
                font-size: 0.8rem;
                margin-bottom: 0.2rem;
              }
              p,
              .about {
                margin: 0.2rem 0;
                font-size: 0.8rem;
                max-height: 24px;
              }

              .label {
                font-size: 0.6rem;
              }
              .gender {
                top: 0.5rem;
              }
            }
          }
        }
      }

      .post-container {
        grid-template-columns: 1fr;
      }
    }
  }
}
