// Index Page ----------------------------------------------------
.index-page {
  padding: 3rem;
  height: 90vh;
  width: 100%;

  .overlay {
    position: absolute;
    top: 0%;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $primary-green;
    opacity: 0.85;
    z-index: 1;
  }
  .showcase-image {
    position: absolute;
    top: 0%;
    right: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .caption {
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: rgb(236, 235, 235);
    z-index: 3;
  }
  .slogan {
    position: absolute;
    top: 20%;
    left: 3rem;
    width: 40%;
    z-index: 1;
    color: rgba(221, 221, 221, 0.85);
    h1 {
      margin-bottom: 1.3rem;
    }
  }
  .show-more-button {
    z-index: 2;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    background: $accent;
    color: #ddd;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    &:hover {
      background: #ddd;
      color: $accent;
    }
  }
}

@include phone {
  .index-page {
    padding: 0;
    .slogan {
      width: 80%;
    }
  }
}
