@import "../config/variables";

.content {
  padding-top: 2rem;
}

#testimonials {
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
  content: "";
  width: 100%;
}
.testimonials {
  height: 300px;
  border: solid 1px black;
  background: $lighter-green;
  text-align: center;
  padding-top: 5rem;
  margin: 2rem;

  h2 {
    display: inline-block;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
  }

  &:nth-child(4) {
    margin-bottom: 3rem;
  }
}
