// Footer ---------------------------------------------------------
footer {
  background: #333;
  color: #fff;
  padding: 3rem;

  .main {
    display: flex;
    margin-bottom: 3rem;
  }

  .left-column {
    width: 50%;
    h4 {
      margin-bottom: 1rem;
    }
    ul {
      list-style: none;
      padding-left: 10px;
      a {
        text-decoration: none;
        color: #ddd;
        margin-bottom: 0.8rem;
        display: block;

        &:hover {
          color: #fff;
          filter: drop-shadow(0 0 8px #ddd);
        }
      }
    }
  }

  .right-column {
    h4 {
      margin-bottom: 1rem;
    }
    .media-links-container {
      padding-left: 14px;
    }
    a {
      display: flex;
      margin-bottom: 0.8rem;
      text-decoration: none;
      color: #ddd;
      align-items: center;
      height: 28px;

      &:hover {
        color: #fff;
        filter: drop-shadow(0 0 8px #ddd);
      }
      img {
        height: 24px;
        padding-right: 0.6rem;
      }
      svg {
        fill: #1877f2;
        margin-right: 0.6rem;
      }

      #twitter {
        fill: #1da1f2;
      }
    }
  }

  .copyright {
    width: fit-content;
    margin: auto;

    p {
      font-size: 0.9rem;
    }

    a {
      padding-left: 0.3rem;
      // text-decoration: none;
      color: #ddd;
    }
  }
}

@include phone {
  .main {
    flex-direction: column;
    .left-column {
      width: 80%;
      margin-bottom: 2rem;
    }
  }
}
