@import "./config/variables";
@import "./config/media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: fit-content;
  font-family: "Montserrat", sans-serif;
  background: $light-green;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@import "./index-page/showcase.scss";
@import "./index-page/testimonials.scss";
@import "./navbar/navbar.scss";
@import "./available-summary/available.scss";
@import "./collection/collection.scss";
@import "./contact/contact.scss";
@import "./footer/footer.scss";
@import "./detailModal.scss";

// About Page ----------------------------------------------------
.about-page {
  padding: 3rem;
  margin: 3rem;
  background: $lighter-green;
  min-height: 90vh;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.267), -6px -6px 6px $lighter-green;
  border-radius: 5px;

  h2 {
    padding-bottom: 2rem;
  }
  h3 {
    padding-bottom: 0.6rem;
  }
  p {
    padding-bottom: 1.2rem;
  }
}
