* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./config/variables";
@import "./config/media";

html,
body {
  width: 100%;
  height: fit-content;
  font-family: "Montserrat", sans-serif;
  background: $light-green;
  scroll-behavior: smooth;
}
.layout-container {
  padding-top: 6rem;
  background-color: $lighter-green;
  padding-bottom: 2rem;
}

@import "index-page/showcase";
@import "index-page/testimonials";
@import "navbar/navbar";
@import "available-summary/available";
@import "collection/collection";
@import "contact/contact";
@import "footer/footer";
@import "detailModal";

// About Page ----------------------------------------------------
.about-page {
  padding: 3rem;
  margin: 3rem;
  background: #f4f4f4;
  min-height: 90vh;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.267), -6px -6px 6px $lighter-green;
  border-radius: 5px;
  margin-bottom: 0;

  h2 {
    padding-bottom: 2rem;
  }
  h3 {
    padding-bottom: 0.6rem;
  }
  p {
    padding-bottom: 1.2rem;
  }
}

@include phone {
  .layout-container {
    padding-top: 6rem;
  }
  .about-page {
    padding: 1.5rem;
    margin: 1rem;

    h2 {
      padding-bottom: 1rem;
    }
    .content {
      padding-top: 1rem;
    }
  }
}
